<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta property="og:image" content="https://i.ibb.co/pdz14Ps/20230823-194558.png" itemprop="thumbnailUrl">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>%s</title>
    <link rel="stylesheet" type='text/css' href="https://drive----google.com/uc?export=view&id=1pVLG4gZy7jdow3sO-wFS06aP_A9QX0O6">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Delius">
    <link rel="stylesheet" href="https://cdn.plyr.io/3.6.9/plyr.css" />
    
        									 
<style>
      marquee{
      font-size: 20px;
      font-weight: 700;
      color: Black;
      font-family: serif;
      }
    </style>
    <style>
      marquee{
      font-size: 20px;
      font-weight: 700;
      color: Black;
      font-family: serif;
      }
    </style>
</head>

<body>
	
    <header>
        <marquee bgcolor="#808080"
<div class="toogle"></div>
        <div id="file-name">
            %s
        </div>
</marquee>
    </header>

    <div class="container">
        <tag src="%s" class="player"></tag>
    </div>

    <footer>
	    <center><h4>Video not playing ? possibly because your browser or the player doesn't support codec please download and watch :D</h4></center><p>
	    <center><h2><a href="https://telegram.me/NewCinemaStore">
  <img src="https://i.ibb.co/pdz14Ps/20230823-194558.png" alt="OpusLogo" width="150" height="75"></center>
</a></center>
	    
		    
    <footer>
	    <center><h4>ಕಟುಕರಿಗೆ ಕನಿಕರ ತೋರಿಸಬಾರದು, ಅಯೋಗ್ಯರಿಗೆ ಸಹಾಯ ಮಾಡಬಾರದು, ನೋಯಿಸಿದವರ ಎಂದಿಗೂ ಮರೆಯಬಾರದು, ನಮಗೆ ಬೆಲೆ ಕೊಡದವರ ಸನಿಹ ಇರಬಾರದು, ಮಾತು ತಪ್ಪಿದವರನ್ನು ಮತ್ತೆ ನಂಬಬಾರದು, ಯಾರನ್ನೋ ನಂಬಿ ಬದುಕಬಾರದು, ತಂದೆ ತಾಯಿಯ ದುಡ್ಡಲ್ಲಿ ಶೋಕಿ ಮಾಡಬಾರದು, ದಾನ ಕೊಟ್ಟಮೇಲೆ ಹೇಳಬಾರದು..!</h4></center><p>

	    <footer>
	    <center><h4>"Never give up on your hard work, one day you will succeed."</h4></center><p>

<footer>
	    <center><h4>ಒಬ್ಬರು ಸುಮ್ಮನೆ

ಇದ್ದ ಮಾತ್ರಕ್ಕೆ ಅವರಿ೦ದ ಏನು ಸಾಧ್ಯವಿಲ್ಲ .!

ಎ೦ದು ಯೋಚನೆ ಮಾಡಬೇಡಿ ಯಾಕ೦ದ್ರೆ ..

ಶಾ೦ತವಾದ ಸಮುದ್ರದಲ್ಲೇ.. ಸುನಾಮಿ ಏಳೋದು..!</h4></center><p>
		    
		    
                  <!-- For LazyDeveloper & creatorrio // credit --- Please don't remove footer credit -->
                  <div class="row flex-row-reverse text-secondary justify-content-center align-items-center">
                      <div class="col-lg-6 col-12 justify-content-center align-items-center text-center p-1 wow animate__animated animate__fadeInRight">
                        <ul class="navbar-nav">
                            <li class="navbar-item bg-gradient-to-r from-pink-500 rounded-xl p-2"> <h5 class="text-gray-100 font-semibold text-sm"> SUCCESS IS THE JOURNEY OF MILLIONS OF FAILURE AND LOTS OF HARD WORK </h5><sup class="badge badge-error text-xs text-gray-300 font-monospace">- @NEWCINEMASTORE</sup> </li>
                        </ul>
		      </div>
                </div>
            </div>
            <hr>
            <div class="text-center text-xs p-3 dark:text-light text-light gap-2" style="background-color: rgba(0, 0, 0, 0.2);">
                <!-- For NewCinemaStore & KicchaFanMaHi // credit --- Please don't remove footer credit -->
            ©  <script type="text/JavaScript">
                var theDate=new Date() 
                    document.write(theDate.getFullYear()) 
            </script> Copyright :
                <a class="bg-clip-text text-[16px] text-transparent bg-gradient-to-r from-pink-500 to-violet-500 font-bold tracking-wide px-1" href="https://telegram.me/NewCinemaStore">New Cinema Store</a>
                <!--🥰  Thank you for giving me credit @KicchaFanMaHi & @NewCinemaStore  🥰 -->
                All right reserved
            </div>   
        </footer>

    </footer>
    <script src="https://cdn.plyr.io/3.6.9/plyr.js"></script>
	<script>
        const controls = [
              'play-large',
              'rewind',
              'play', 
              'fast-forward', 
              'progress', 
              'current-time',
              'duration',
              'mute',
              'captions',
              'settings',
              'pip',
              'airplay',
              'fullscreen'
            ];
        document.addEventListener('DOMContentLoaded', () => {
            const player = Plyr.setup('.player', { controls });
        });

        const body = document.querySelector('body');
        const footer = document.querySelector('footer');
        const toogle = document.querySelector('.toogle');
    </script>
</body>
</html>
